*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  height:100vh;
  display:flex;
  flex-direction:column;
  background:#0b1220;
  color:white;
}

.topbar{
  height:50px;
  background:#111827;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 10px;
}

.logo{
  color:#facc15;
  font-weight:bold;
}

.main{
  display:flex;
  flex:1;
}

.sidebar{
  width:150px;
  background:#1e293b;
  padding:10px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.sidebar button{
  padding:8px;
  cursor:pointer;
}

.workspace{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
}

canvas{
  background:white;
  border-radius:6px;
}